<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= results[0].name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div>
    <h3 align="center">Users List</h3>
    </div>
    <table class="table table-striped">
    <thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date</th>
    <th>Action</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
      <%if (results.length >0){ %>
        <% results.forEach(function(row){ %>
        <tr align="center">
         <td><%= row.name %></td>
          <td><%= row.email %></td>
           <td><%= row.date %></td>
           <td>
           <a href="/users/edit/<%= row.id %>"> Edit </a>
             <a href="/users/delete/<%= row.id %>" class="delete-article" > Delete </a>
           </td>
        </tr>
        <% })} %>
    </tbody>
    </table>
  
  
   